# Ignorar archivos de Python
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Ignorar archivos de Node.js
node_modules/
dist/
.vite/

# Ignorar archivos del entorno virtual de Python
venv/
.env

# Ignorar la base de datos SQLite
backend/backend/db.sqlite3
